{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
						class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto mt-5 mb-5">
        {{profile.user.username}}

        {{profile.user.email}}
        
        
        {{profile.phone_number}}
        
        {{profile.address}}
        
        
        
		<h5><a href="{% url 'accounts:profile_edit' %}">Edit Profile</a></h5>
        <h5><a href="{% url 'password_change' %}">Change Password</a></h5>
        <h5><a href="{% url 'accounts:my_reservation' %}">My Reservation</a></h5>
    </div>
</div>



{% endblock %}